
<h1>hay <%= @product.count %> productos</h1>
<table>
  <tr>
    <th>Name</th>
    <th>price</th>
    <th>created at</th>
    <th>updated at</th>
    <th colspan="3"></th>
  </tr>
 
  <% @product.each do |product| %>
    <tr>
      <td><%= product.name %></td>
      <td><%= product.price %></td>
      <td><%= product.created_at %></td>
      <td><%= product.updated_at %></td>

      <td><%= link_to 'Destroy', product_path(product),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>
<h1>hay <%= @order.count %> ordenes</h1>
<table>
  <tr>
    <th>direccion</th>
    <th>items</th> 
    <th>created at</th>
    <th>updated at</th>
    <th colspan="7"></th>
  </tr>
 
  <% @order.each do |order| %>
    <tr>
      <td><%= order.delivery_address %></td>
      <td><%= order.line_items.count %></td>
      <td><%= order.created_at %></td>
      <td><%= order.updated_at %></td>
      <td><%= link_to 'Destroy', order_path(order),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
      <td>



  <% end %>
</table>
<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>
<h2>Productos de la orden</h2>
<ul>

</ul>