<!DOCTYPE html>
<html>
<head>
  <title>Toolware</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= link_to 'Toolware', products_home_path %>
<br>
<%= link_to 'New product', new_product_path %>
<%= link_to 'new order', orders_new_path %>
<%= yield %>

</body>
</html>
